<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MyBaseCamp</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav>
    <a href="/">MyBaseCamp</a>
    <div>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
  </nav>

  <main>
    <%- body %>
  </main>

</body>
</html>